.modal {
   position: fixed;
   top: 0;
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   height: 100vh;
   width: 100vw;

   z-index: 10;
}

.modal .x {
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 0;
   margin: 1rem;
   color: black;
   padding: 1rem;
   font-size: 1rem;
   border: 2px solid black;
   font-weight: 900;
   border-radius: 5px;
}

.modal.open {
   overflow: hidden;
   display: flex;
}

.modal.open .photo {
   display: flex;
   padding: 1rem;
   justify-content: center;
   max-height: 90vh;
   max-width: 90vw;
   align-items: center;
   flex-direction: column;
}

.modal.open .photo img {
   height: 100%;
   width: 100%;
}

.info {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 100%;
   /* border: 3px solid red; */
}

.info h1 {
   font-family: "Courier New", Courier, monospace;
   margin: 1rem;
   padding: 1rem;
}

.show {
}
