nav {
   /* border: 1px solid red; */
}

.top-bar {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: white;
   font-size: 0.7rem;
   font-weight: 900;
   height: 5vh;
   color: black;
}

.logo {
   margin: 1rem auto;
   width: 70%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.logo h1 {
   color: white;
   font-size: 4rem;
   font-family: "Jua", sans-serif;
}
.logo a {
   text-decoration: none;
}

.logo h2 {
   margin-top: -0.5rem;
   align-self: flex-end;
   font-size: 1.5rem;
   color: black;
   font-family: "Schoolbell", cursive;
}

@media screen and (min-width: 600px) {
   .logo {
      width: 60%;
   }
}
@media screen and (min-width: 750px) {
   .logo {
      width: 50%;
   }
}
@media screen and (min-width: 900px) {
   .logo {
      width: 30%;
   }
}
@media screen and (min-width: 1400px) {
   .logo {
      width: 20%;
   }
}
